.trackerSection__container {
  background-color: #f2f2f2;
  flex-grow: 1;
  padding: 20px 40px 0;
  color: #2e3a50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}
